CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build
/lib/libglew.a
/GPATH
/GRTAGS
/GTAGS
*~
/.DS_Store
/xcodebuild/
/CTestTestfile.cmake
/build.ninja
/rules.ninja
/test/CTestTestfile.cmake
/vendor/Box2D/CTestTestfile.cmake
/vendor/jansson/CTestTestfile.cmake
/vendor/jansson/include/
/.ninja_deps
/.ninja_log
/ev_lua
*.a
*.o
/test/test_animation
/test/test_matrix4
/test/test_qtree
